@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700,900');
/* colors */
/* ---------------------------------------------------------
 *	General
 *  --------------------------------------------------------- */
::selection {
  color: #fff;
  background: #696969;
}
::-moz-selection {
  color: #fff;
  background: #696969;
}
html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  position: relative;
  height: 100%;
  max-width: 100%;
  background: #2c2c2c;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  line-height: 1.6em;
  padding-left: 0 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #fff;
}
h1 {
  font-size: 40px;
}
h3 {
  font-weight: 400;
}
h4 {
  font-weight: 400;
  font-size: 20px;
}
p {
  margin-bottom: 20px;
  font-size: 16px;
}
a {
  color: #869198;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
ul {
  list-style-type: square;
}
a:hover,
a:focus {
  color: #99a2a9;
  text-decoration: none;
  outline: 0;
}
a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
/* ---------------------------------------------------------
 *	Helper classes
 *  --------------------------------------------------------- */
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}
.mt70 {
  margin-top: 70px;
}
/* ---------------------------------------------------------
 *	Header
 * --------------------------------------------------------- */
.intro-header {
  width: 100%;
  height: 70px;
  display: block;
  padding-left: 5%;
  padding-right: 5%;
  position: absolute;
  margin-top: 15px;
  z-index: 2001;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .intro-header {
    padding-left: 10%;
    padding-right: 10%;
  }
}
.intro-header .col-md-6:first-child {
  float: left;
}
/* Page Header */
.section-page-header {
  padding: 95px 0 45px;
  text-align: center;
}
.section-page-header h1 {
  font-weight: 700;
  text-transform: uppercase;
}
.section-page-header p {
  zoom: 1;
  filter: alpha(opacity=61);
  -webkit-opacity: 0.61;
  -moz-opacity: 0.61;
  opacity: 0.61;
}
.section-page-header a {
  color: #d6dadc;
  zoom: 1;
  filter: alpha(opacity=61);
  -webkit-opacity: 0.61;
  -moz-opacity: 0.61;
  opacity: 0.61;
}
.section-page-header a:hover,
.section-page-header a:focus {
  zoom: 1;
  filter: alpha(opacity=81);
  -webkit-opacity: 0.81;
  -moz-opacity: 0.81;
  opacity: 0.81;
}
/* ---------------------------------------------------------
 *	Body
 * --------------------------------------------------------- */
/*
 * Sections
 * --------------------------------------------------------- */
.section {
  z-index: 2000;
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.section-title {
  margin: 0 0 20px;
  text-align: center;
  font-size: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}
.section-title-border {
  width: 70px;
  height: 3px;
  background: rgba(255, 255, 255, 0.13);
  margin: 0 auto 35px;
}
.section-solid {
  background: #ededed;
  color: #646464;
}
.section-solid h1,
.section-solid h2,
.section-solid h3,
.section-solid h4,
.section-solid h5,
.section-solid h6 {
  color: #646464;
}
.section-solid .section-title-border {
  background: rgba(0, 0, 0, 0.13);
}
.section-solid-white {
  background: #fff;
  color: #646464;
}
.section-solid-white h1,
.section-solid-white h2,
.section-solid-white h3,
.section-solid-white h4,
.section-solid-white h5,
.section-solid-white h6 {
  color: #646464;
}
.section-solid-white .section-title-border {
  background: rgba(0, 0, 0, 0.13);
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .section {
    padding: 70px 0;
  }
  .section-title-border {
    margin: 0 auto 45px;
  }
}
/* ---------------------------------------------------------
 *	Footer
 * --------------------------------------------------------- */
footer {
  background: #1d1d1d;
  padding: 30px 0 40px;
  font-size: 13px;
}
footer div[class*="col-"] {
  text-align: center;
}
p.copyright {
  margin-top: 20px;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
/*
 * Social icons
 * --------------------------------------------------------- */
.social {
  font-size: 14px;
  margin-top: 15px;
}
.social a {
  font-size: 1.1em;
  padding: 0 0.3em;
  border: 1px solid #fff;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 28px;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  footer {
    padding: 50px 0 40px;
  }
  footer div[class*="col-"] {
    text-align: left;
  }
  footer .text-right {
    text-align: right !important;
  }
  .social {
    margin-top: 0;
  }
}
/* ---------------------------------------------------------
 *	Menu button
 * --------------------------------------------------------- */
#menuToggle {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#menuToggle:hover {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* ---------------------------------------------------------
 *	Pricing table
 * --------------------------------------------------------- */
.pricing-table {
  background: #fff;
  text-align: center;
  font-size: 14px;
}
.pricing-table .pricing-table-header {
  background: #303131;
  color: #fff !important;
  padding: 18px 0;
  margin: 0;
  font-size: 18px;
}
.pricing-table .pricing-table-features {
  list-style-type: none;
  padding: 0;
}
.pricing-table .pricing-table-features li {
  padding: 10px 0;
  border-bottom: 1px solid #eff0f0;
}
.pricing-table .pricing-table-features .price {
  font-weight: bold;
  font-size: 52px;
  padding: 30px 0;
}
.pricing-table .pricing-table-features .price sup {
  font-size: 20px;
  top: -20px;
}
.pricing-table .pricing-table-features .price sub {
  font-size: 13px;
  bottom: -2px;
}
.pricing-table .pricing-table-features .action {
  padding: 20px 0;
}
/* ---------------------------------------------------------
 *	Vertical timeline
 * --------------------------------------------------------- */
.v-timeline {
  padding: 0;
  list-style: none;
  position: relative;
}
/* The line */
.v-timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #e0e0e0;
  left: 20%;
  margin-left: -6px;
}
/* The date/time */
.v-timeline > li .v-time {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
}
.v-timeline > li .v-time span {
  display: block;
  text-align: right;
  font-size: 16px;
  color: #999;
}
/* heading */
.v-timeline > li > .v-heading {
  margin-bottom: 50px;
  position: relative;
  margin-left: 80px;
  background: #869198;
  padding: 11px 15px;
  color: #fff;
  margin: 0 0 45px 0;
  line-height: 1.4;
  font-size: 17px;
}
.v-timeline > li > .v-heading [class*="fa-"] {
  margin-right: 6px;
}
/* Right content */
.v-timeline > li .v-label {
  margin: 0 0 15px 25%;
  padding: 20px 30px;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  background: #fff;
}
.v-timeline > li .v-label p {
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 0;
}
.v-timeline > li .v-label h4 {
  margin: 0;
  font-size: 17px;
}
/* The triangle */
.v-timeline > li .v-label:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #fff;
  border-width: 10px;
  top: 10px;
}
/* The icons */
.v-timeline > li .v-icon {
  width: 40px;
  height: 26px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 13px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #fff;
  background: #666;
  text-align: center;
  left: 20%;
  margin: 7px 0 0 -24px;
  background-color: #869198;
}
.v-timeline > li .v-icon:before,
.v-timeline > li .v-icon:after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
.v-timeline > li .v-icon:before {
  bottom: 100%;
  border-bottom: 10px solid #869198;
}
.v-timeline > li .v-icon:after {
  top: 100%;
  width: 0;
  border-top: 10px solid #869198;
}
/* Example Media Queries */
@media screen and (max-width: 65.375em) {
  .v-timeline > li .v-time span {
    font-size: 1.05em;
  }
}
@media screen and (max-width: 47.2em) {
  .v-timeline:before {
    display: none;
  }
  .v-timeline > li .v-time {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }
  .v-timeline > li .v-time span {
    text-align: left;
  }
  .v-timeline > li .v-label {
    margin: 0 0 30px 0;
    padding: 1.3em;
  }
  .v-timeline > li .v-label:after {
    right: auto;
    left: 20px;
    border-right-color: transparent;
    border-bottom-color: #869198;
    top: -20px;
  }
  .v-timeline > li .v-icon {
    display: none;
  }
}
/* ---------------------------------------------------------
 *	Animate
 * --------------------------------------------------------- */
/*
 * FadeIn
 * ----------------------------------------------------------------- */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
/*
 * FadeInLeft
 * ----------------------------------------------------------------- */
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
/*
 * FadeInRight
 * ----------------------------------------------------------------- */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
/* ---------------------------------------------------------
 *	Backstretch
 * --------------------------------------------------------- */
.backstretch {
  left: auto !important;
}
.backstretch:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
/* ---------------------------------------------------------
 *	Bootstrap override
 * --------------------------------------------------------- */
/*
 *	Container
 *  --------------------------------------------------------- */
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
/*
 *	Navigation
 *  --------------------------------------------------------- */
.navbar {
  margin-bottom: 0;
}
.navbar-default {
  background-color: transparent;
  border: 0;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background: transparent;
  color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #fff;
}
.dropdown-menu > li > a {
  padding: 7px 20px;
  font-size: 12px;
  font-weight: 300;
}
.navbar-nav > li > .dropdown-menu {
  border-radius: 0;
  border: 0;
  box-shadow: none;
}
.navmenu-brand {
  padding: 15px 0;
  position: relative;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  opacity: 0.8;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #428bca;
}
.navbar-toggle {
  padding: 6px 12px;
  background-color: transparent;
  border-radius: 0px;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
  color: #000;
}
@media (max-width: 768px) {
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
	background: #1d1d1d;
	border: 0;
	border-top: 1px solid #444;
	box-shadow: none;
	margin-top: 15px;
  }
  .navbar-default .navbar-nav > li > a {
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #999;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #777;
  }
}
.navbar .container{
	width: 100%;
	padding: 15px 10%;
}
#nav.affix {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3999;
	background: #1d1d1d;
	border-radius: 0;
}
#nav{
	position: absolute;
	width: 100%;
	z-index: 2001;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
	color: #869198;
	font-weight: 700;
}
.list-inline {
  margin-left: 0;
}
.list-inline li [class*="fa-"] {
  margin-right: 3px;
}
/*
 *	Buttons
 *  --------------------------------------------------------- */
.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.btn-theme {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
}
.btn-theme:hover,
.btn-theme .active {
  color: #000;
  background-color: #fff;
}
.btn-theme-inverse {
  color: #363636;
  border-color: #363636;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
  background: transparent;
}
.btn-theme-inverse:hover {
  color: #fff;
  background-color: #363636;
}
/*
 *	Forms
 *  --------------------------------------------------------- */
.form-control {
  height: 42px;
  border-radius: 0;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.form-control:focus {
  outline: 0;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-shadow: none;
}
.has-feedback .form-control-feedback {
  line-height: 44px;
  width: 44px;
  height: 44px;
}
.has-success .form-control,
.has-error .form-control,
.has-success .form-control:focus,
.has-error .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-shadow: none;
}
form.signup input[type="email"] {
  height: 42px;
  width: 250px;
  border-radius: 0;
  margin: 0 5px;
}
form.signup button.btn {
  font-weight: 700;
}
.form-group .form-control {
  display: inline-block;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .form-group .form-control {
    display: block;
  }
}
/*
 *	Panel
 *  --------------------------------------------------------- */
.panel-body,
.panel-body p {
  font-size: 12px;
  line-height: 20px;
}
.panel-title {
  font-size: 14px;
}
/*
 *	Progress bar
 *  --------------------------------------------------------- */
.progress {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.progress-bar {
  background-color: #869198;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/*
 *	Media
 *  --------------------------------------------------------- */
.media > .pull-left {
  margin-right: 16px;
}
/* ---------------------------------------------------------
 *	bxSlider
 * --------------------------------------------------------- */
.bx-wrapper {
  margin: 0 auto 30px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  border-radius: 0;
  height: 6px;
  width: 20px;
  margin: 5px 3px;
  background: transparent;
  border: 1px solid #eff0f0;
}
.bx-wrapper .bx-controls-direction a {
  color: #bbbbbb;
}
.bx-wrapper .bx-pager {
  bottom: -50px;
}
.bx-wrapper .bx-pager.bx-default-pager .active {
  background: #eff0f0;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #fff;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-next:hover {
  background: rgba(255, 255, 255, 0.61);
  color: #fff;
}
.bx-wrapper .bx-prev,
.bx-wrapper .bx-next {
  background: rgba(255, 255, 255, 0.38);
  padding: 4px 12px;
  display: inline-block;
  position: absolute;
  top: 35%;
  text-indent: 0 !important;
  z-index: 1900 !important;
}
.bx-wrapper .bx-prev:before {
  content: "\f104";
  font-family: FontAwesome;
}
.bx-wrapper .bx-next:before {
  content: "\f105";
  font-family: FontAwesome;
}
.bx-wrapper .bx-viewport {
  box-shadow: none;
  border: 0;
  background: none;
  left: 0;
}
.section-solid .bx-wrapper .bx-pager.bx-default-pager a {
  border-radius: 0;
  height: 5px;
  width: 20px;
  margin: 5px 3px;
  background: transparent;
  border: 1px solid #686868;
}
.section-solid .bx-wrapper .bx-pager.bx-default-pager .active {
  background: #686868;
}
/* Small devices (480px and up) */
@media (min-width: 480px) {
  .section-solid .bx-wrapper .bx-pager.bx-default-pager a,
  .bx-wrapper .bx-pager.bx-default-pager a {
    width: 25px;
  }
}
/* ---------------------------------------------------------
 *	Pace
 * --------------------------------------------------------- */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace .pace-progress {
  display: block;
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  height: 8px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.3s, width 1s;
  -moz-transition: width 1s;
  -o-transform: width 1s;
  transition: transform .3s, width 1s;
  pointer-events: none;
}
.pace .pace-active .pace-progress {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.pace .pace-activity:before {
  content: '';
  background-color: #202020;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  z-index: 4000;
  position: fixed;
  width: 100%;
  height: 100%;
}
.pace-done .pace {
  display: none;
}
/* ---------------------------------------------------------
 *	Tubular
 * --------------------------------------------------------- */
#tubular-container {
  z-index: -2 !important;
}
#tubular-shield {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1 !important;
}
/* ---------------------------------------------------------
 *	FontAwesome
 * --------------------------------------------------------- */
.fa-li {
  top: 5px;
}
/* ---------------------------------------------------------
 *	Twitter
 * --------------------------------------------------------- */
#twitterFeed ul {
  padding: 0;
  list-style: none;
}
#twitterFeed .timePosted {
  opacity: 0.7;
  font-size: 13px;
}
.twitter-feed-icon {
  font-size: 50px;
  margin-bottom: 15px;
}
/* ---------------------------------------------------------
 *	GITheWall
 * --------------------------------------------------------- */
.GI_TW_expander {
  position: absolute;
  z-index: 1;
  top: 0;
  background: black;
  left: 0;
  width: 100%;
  margin-top: 10px;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s ease-in;
  -moz-transition: height 0.3s ease-in;
  -o-transition: height 0.3s ease-in;
  transition: height 0.3s ease-in;
}
.GI_TW_expander.animating {
  overflow: hidden !important;
}
.GI_TW_expander.opened {
  overflow: visible;
}
.GI_TW_expander .GI_TW_pointer {
  position: absolute;
  margin-left: -20px;
  margin-top: -20px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid black;
  -webkit-transition: left 0.3s ease-in;
  -moz-transition: left 0.3s ease-in;
  -o-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
}
.GI_TW_expander .GI_TW_expander-inner {
  width: 80%;
  height: 560px;
  margin: 0 auto;
  overflow: hidden;
}
.GI_TW_expander .GI_TW_expander-inner .GI_TW_fullimg {
  position: relative;
  width: 100%;
  height: 580px;
  margin: 10px 0 0;
  text-align: center;
  overflow: hidden;
}
.GI_TW_expander .GI_TW_expander-inner .GI_TW_fullimg img {
  position: relative;
}
.GI_TW_expander .GI_TW_Controls {
  z-index: 1;
}
.GI_TW_expander .GI_TW_close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.GI_TW_expander .GI_TW_arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.GI_TW_expander .GI_TW_arrow.GI_TW_hidden {
  display: none;
}
.GI_TW_expander .GI_TW_arrow.GI_TW_next {
  right: 30px;
}
.GI_TW_expander .GI_TW_arrow.GI_TW_prev {
  left: 30px;
}
.GI_TW_expander .GI_TW_loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #cccccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  -ms-animation: loader 0.5s infinite ease-in-out both;
  -o-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both;
}
.GI_TW_expander {
  position: relative;
  background: transparent;
  top: auto !important;
}
.GITheWall ul {
  list-style: none;
  padding: 0;
}
.GI_TW_expander .GI_TW_pointer {
  display: none;
}
.GI_TW_expander .GI_TW_close {
  top: 0px;
}
@-moz-keyframes loader {
  0% {
    background: #ddd;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}
@-webkit-keyframes loader {
  0% {
    background: #ddd;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}
@-o-keyframes loader {
  0% {
    background: #ddd;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}
@-ms-keyframes loader {
  0% {
    background: #ddd;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}
@keyframes loader {
  0% {
    background: #ddd;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}
/*
 * About
 * --------------------------------------------------------- */
.feature-box-container {
  margin: 60px 0;
}
.feature-box-container:last-child {
  margin-bottom: 0;
}
.feature-box .icon {
  float: left;
}
.feature-box .icon i {
  font-size: 30px;
  display: block;
}
.feature-box .description {
  margin-left: 65px;
}
.feature-box .description h4 {
  text-transform: uppercase;
  font-size: 14px;
}
.feature-box .description p {
  font-size: 14px;
  zoom: 1;
  filter: alpha(opacity=70);
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  line-height: 24px;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .feature-box-container {
    margin: 0 0 30px;
  }
}
@media (max-width: 768px) {
  .about-img {
    margin-bottom: 20px;
  }
}
.about-item {
  position: relative;
}
.about-item img {
  height: 250px;
  width: 387px;
}
/*
 * Portfolio
 * --------------------------------------------------------- */
#portfolio-container {
  overflow: hidden;
}
.filter-tags {
  margin-bottom: 35px;
}
.filter-tags .btn:active,
.filter-tags .btn.active {
  color: #fff;
  background-color: #333;
}
.overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
  color: rgba(255, 255, 255, 0);
  background: rgba(0, 0, 0, 0.45);
  font-size: 16px;
  font-weight: 700;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.overlay:hover {
  opacity: 1;
}
.overlay span {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.overlay .title {
  z-index: 9999;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  -ms-transform: none;
}
.overlay .category {
  color: #ddd;
  font-size: 12px;
  font-weight: 300;
  margin-top: 20px;
}
.portfolio-item {
  display: inline-block;
  width: 100%;
}
.portfolio-img {
  position: relative;
}
/* Small devices (tablets, 480px and up) */
@media (min-width: 480px) {
  .portfolio-item {
    display: inline-block;
    width: 50%;
  }
  .overlay .title {
    font-size: 13px;
    width: 90%;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .portfolio-item {
    display: inline-block;
    width: 33.333333333%;
  }
  .overlay .title {
    font-size: 13px;
    width: 90%;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 992px) {
  .portfolio-item {
    display: inline-block;
    width: 25%;
  }
  .overlay .title {
    font-size: 13px;
    width: 90%;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 1200px) {
  .portfolio-item {
    display: inline-block;
    width: 20%;
  }
}
/*
 * Skills
 * --------------------------------------------------------- */
.personal-skills h4 {
  margin-bottom: 25px;
}
.lang-container {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
}
.lang-description {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 2px;
  font-weight: 700;
  margin-top: 10px;
}
.lang-level {
  font-size: 12px;
  opacity: 0.7;
}
.skills-ul {
  font-size: 14px;
}
/*
 * Facts
 * --------------------------------------------------------- */
#facts h1 {
  font-weight: 700;
}
@media (min-width: 400px) and (max-width: 768px) {
  #facts [class*="col-"] {
    width: 47%;
    margin: 10px 1.5%;
    padding: 0;
    float: left;
  }
}
/*
 * Contact
 * --------------------------------------------------------- */
#contact {
  background: #2d2e2e;
}
.list-contacts {
  list-style: none;
  padding-left: 0;
  margin: 2em 0;
}
.list-contacts li {
  margin-bottom: 10px;
  display: table;
}
.list-contacts [class*="fa-"] {
  margin-right: 15px;
  display: table-cell;
  width: 30px;
}
#contactForm .form-control[name="name"] {
  margin-bottom: 14px;
}
.ladda-button .ladda-spinner{
  top: 50%;
  margin-left: 5px;
  margin-top: 0;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .list-contacts {
    list-style: none;
    padding-left: 0;
    margin-top: 2em;
  }
  #contactForm .form-control[name="name"] {
    margin-bottom: 0;
  }
}
/* ---------------------------------------------------------
 *	Index
 * --------------------------------------------------------- */
.main {
  width: 100%;
  height: 350px;
  background-color: transparent;
  display: block;
  position: relative;
  z-index: 2000;
  text-align: center;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main {
    height: 100%;
    max-height: 100%;
  }
}
.page {
  display: table;
  width: 100%;
  height: 100%;
  padding: 20px 0;
}
.wrapper {
  padding: 15px 0;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
.wrapper .container {
  margin-top: 35px;
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .wrapper .container {
    width: 1050px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .page {
    padding: 40px 0;
  }
  .wrapper {
    padding: 0;
  }
}
/*
 * Home
 * --------------------------------------------------------- */
.heading {
  color: #fff;
  font-size: 1.5625em;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px 0 10px;
  line-height: 1.30208333em;
}
#signupForm .form-control-feedback {
  visibility: hidden;
}
lesshat-selector {
  -lh-property: 0; }
@-webkit-keyframes arrowBounce{ 0%{-webkit--webkit-transform:translateY(-20px);-moz--webkit-transform:translateY(-20px);-ms--webkit-transform:translateY(-20px);-webkit-transform:translateY(-20px)}50%{-webkit--webkit-transform:translateY(-10px);-moz--webkit-transform:translateY(-10px);-ms--webkit-transform:translateY(-10px);-webkit-transform:translateY(-10px)}100%{-webkit--webkit-transform:translateY(-20px);-moz--webkit-transform:translateY(-20px);-ms--webkit-transform:translateY(-20px);-webkit-transform:translateY(-20px)}}
@-moz-keyframes arrowBounce{ 0%{-webkit--moz-transform:translateY(-20px);-moz--moz-transform:translateY(-20px);-ms--moz-transform:translateY(-20px);-moz-transform:translateY(-20px)}50%{-webkit--moz-transform:translateY(-10px);-moz--moz-transform:translateY(-10px);-ms--moz-transform:translateY(-10px);-moz-transform:translateY(-10px)}100%{-webkit--moz-transform:translateY(-20px);-moz--moz-transform:translateY(-20px);-ms--moz-transform:translateY(-20px);-moz-transform:translateY(-20px)}}
@-o-keyframes arrowBounce{ 0%{-webkit--o-transform:translateY(-20px);-moz--o-transform:translateY(-20px);-ms--o-transform:translateY(-20px);-o-transform:translateY(-20px)}50%{-webkit--o-transform:translateY(-10px);-moz--o-transform:translateY(-10px);-ms--o-transform:translateY(-10px);-o-transform:translateY(-10px)}100%{-webkit--o-transform:translateY(-20px);-moz--o-transform:translateY(-20px);-ms--o-transform:translateY(-20px);-o-transform:translateY(-20px)}}
@keyframes arrowBounce{ 0%{-webkit--webkit-transform:translateY(-20px);-webkit--moz-transform:translateY(-20px);-webkit--ms-transform:translateY(-20px);-webkit-transform:translateY(-20px);-moz--webkit-transform:translateY(-20px);-moz--moz-transform:translateY(-20px);-moz--ms-transform:translateY(-20px);-moz-transform:translateY(-20px);-ms--webkit-transform:translateY(-20px);-ms--moz-transform:translateY(-20px);-ms--ms-transform:translateY(-20px);-ms-transform:translateY(-20px);-webkit-transform:translateY(-20px);-moz-transform:translateY(-20px);-ms-transform:translateY(-20px);transform:translateY(-20px);}50%{-webkit--webkit-transform:translateY(-10px);-webkit--moz-transform:translateY(-10px);-webkit--ms-transform:translateY(-10px);-webkit-transform:translateY(-10px);-moz--webkit-transform:translateY(-10px);-moz--moz-transform:translateY(-10px);-moz--ms-transform:translateY(-10px);-moz-transform:translateY(-10px);-ms--webkit-transform:translateY(-10px);-ms--moz-transform:translateY(-10px);-ms--ms-transform:translateY(-10px);-ms-transform:translateY(-10px);-webkit-transform:translateY(-10px);-moz-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px);}100%{-webkit--webkit-transform:translateY(-20px);-webkit--moz-transform:translateY(-20px);-webkit--ms-transform:translateY(-20px);-webkit-transform:translateY(-20px);-moz--webkit-transform:translateY(-20px);-moz--moz-transform:translateY(-20px);-moz--ms-transform:translateY(-20px);-moz-transform:translateY(-20px);-ms--webkit-transform:translateY(-20px);-ms--moz-transform:translateY(-20px);-ms--ms-transform:translateY(-20px);-ms-transform:translateY(-20px);-webkit-transform:translateY(-20px);-moz-transform:translateY(-20px);-ms-transform:translateY(-20px);transform:translateY(-20px);};
}
.arrow-down {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 40px;
  display: none;
}
.scroll {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 35px;
  padding: 10px;
  color: #fff;
  -webkit-animation: arrowBounce 2.5s infinite;
  -moz-animation: arrowBounce 2.5s infinite;
  -ms-animation: arrowBounce 2.5s infinite;
  animation: arrowBounce 2.5s infinite;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .heading {
    font-size: 2.08333333em;
    margin: 45px 0 10px;
  }
  #signupForm .form-control-feedback {
    visibility: visible;
  }
  #signupForm .form-group {
    vertical-align: top;
  }
  .arrow-down {
    display: block;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .heading {
    font-size: 2.34375em;
    margin: 45px 0 10px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 1200px) {
  .heading {
    font-size: 3.125em;
    margin: 45px 0 10px;
  }
}
/* ---------------------------------------------------------
 *	Index carousel
 * --------------------------------------------------------- */
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .fa-angle-left,
.carousel-control .fa-angle-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .carousel-control .fa-angle-left,
  .carousel-control .fa-angle-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
  }
  .carousel-control .fa-angle-left,
  .carousel-control .icon-prev {
    margin-left: -15px;
  }
  .carousel-control .fa-angle-right,
  .carousel-control .icon-next {
    margin-right: -15px;
  }
}
.carousel-control .icon-prev,
.carousel-control .fa-angle-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .fa-angle-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  font-family: serif;
}
.carousel-caption {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  color: #fff;
  text-align: left;
  text-shadow: none;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.carousel-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
}
.carousel-inner .container {
  padding: 6% 10%;
  width: 100%;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
}
.carousel-indicators li,
.carousel-indicators .active {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  height: 5px;
  width: 20px;
  margin: 5px 2px;
}
.item-inner {
  display: table;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.item-inner-container {
  display: table-cell;
  vertical-align: middle;
}
.carousel-container {
  display: block;
}
.carousel-col-6 {
  width: 100%;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .carousel-container {
    display: table;
  }
  .carousel-col-6 {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
  }
  .carousel-inner h1 {
    font-size: 45px;
  }
}
/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
  .carousel-inner h1 {
    font-size: 50px;
  }
}
/* Small devices (tablets, 1200px and up) */
@media (min-width: 1200px) {
  .carousel-inner h1 {
    font-size: 60px;
  }
}
/* ---------------------------------------------------------
 *	Portfolio - single
 * --------------------------------------------------------- */
.portfolio-single h4 {
  text-transform: uppercase;
  line-height: 26px;
  font-size: 18px;
}
.portfolio-single p {
  font-size: 14px;
  line-height: 23px;
}
.portfolio-single .portfolio-single-list {
  list-style: none;
  padding: 0;
}
.portfolio-single .portfolio-single-list li {
  font-size: 13px;
  margin-bottom: 15px;
}
.portfolio-single .portfolio-single-list li h5 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}
