@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;800;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');

* {
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	color: #9C9C9C;
	text-decoration: none;
	transition: all ease-in-out .3s;
}

a:hover { color: white; }

body {
	display: flex;
	flex-direction: column;
	background-size: cover;
	background-image: url('../img/bg.jpg');
	background-position-x: 250px;
	color: #9C9C9C;
}

nav a {
	font-family: 'Montserrat', sans-serif;
	font-weight: light;
	font-size: 1.4em;
	color: white;
	margin-top: 60px;
	margin-left: 100px;
	/* text-transform: uppercase; */
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 900px;
	height: 90vh;
	padding-left: 100px
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 800px;
}

footer {
	display: flex;
	margin-left: 100px;
	width: 500px;
	font-size: 1.3em;
}

footer a {
	margin-right: 10px;
}

.intro h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 4em;
	margin: 0;
}
.intro p {
	font-size: 1.4em;
}

.intro strong,
.intro strong a {
	color: #7156d9;
}

.intro strong a:hover {
	color: white;
}


@media only screen and (max-width: 768px) {
  .info {
    align-items: center;
		justify-content: center;
		max-width: 90vw;
		max-height: 120vh;
  }

  .socail {
  	width: 200px;
  }
}
